@import '../../../global';

.header {
  background: url('../../../assets/headerBg.png') no-repeat;
  background-size: cover;
  text-align: center;

  & > div {
    padding: 50px 0;
    h1 {
      font-family: Gilroy;
      font-size: 44px;
      line-height: 74px;
      letter-spacing: 0.04em;
      color: $white;
    }

    p {
      margin: auto;
      width: 780px;
      font-family: Gilroy;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.04em;
      color: $black;
      opacity: 0.4;
    }
  }
}
