.contactInfo {
  width: 300px;
  margin-top: 120px;
  padding-bottom: 30px;

  .title {
    margin-top: 40px;
    margin-bottom: 25px;
    font-family: Gilroy;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: var(--blue_01);
  }

  .text {
    font-family: Gilroy;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: var(--blue_01);
    opacity: 0.6;
  }

  .iconBox {
    @extend .text;
    display: flex;
    align-items: center;

    span {
      margin-left: 20px;
    }
  }
}

@media (max-width: 950px) {
  .contactInfo {
    text-align: center;
    width: 90%;

    .iconBox {
      justify-content: center;
    }
  }
}

@media (max-width: 375px) {
  .contactInfo {
    img {
      width: 100%;
    }
  }
}
