@import '../../../../global';
@import '~sass-rem';

.header {
  @extend .content;
  height: calc(100vh - 150px);
  background-image: $white-light-blue-grad;
  background-color: rgba($color: #fff, $alpha: 0.2);
  display: flex;

  .headerText {
    h1 {
      font-weight: normal;
      margin: 0;
      color: $blue_01;
      font-family: Galien;
      font-size: 56px;
      line-height: 72px;
      letter-spacing: 0.04em;
    }

    p {
      width: 425px;
      font-family: Gilroy;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.05em;
      color: $blue_01;
      opacity: 0.6;
      margin: 30px 0 70px 0;
    }
  }

  .headerImg {
    margin-left: -35px;

    img {
      width: 100%;
    }
  }
}

@media (min-width: 1024px) {
  .header {
    padding-right: 5%;
  }
}

@media (max-width: 1023px) {
  .headerImg {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    height: fit-content;

    .headerText {
      margin: 0 15% 15%;
      p {
        width: unset;
        word-wrap: break-word;
      }
    }
  }
}

@media (max-width: 425px) {
  .header {
    padding: 0 5%;
    
    .headerText {
      text-align: center;
      margin-left: 0;
      margin-right: 0;

      h1 {
        font-size: 50px;
        line-height: 64px;
      }
    }
  }
}
