@import '../../../../global.scss';

.popular {
  .title {
    font-family: Gilroy;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: 0.04em;

    color: $blue_03;
    opacity: 0.8;
    margin-bottom: 50px;
  }

  .otherPosts {
    display: flex;
    justify-content: space-between;
  }

  .post {
    display: flex;
    flex-flow: column;
    width: min-content;
    margin-bottom: 55px;

    .postContent {
      h2 {
        font-family: Galien;
        font-size: 28px;
        line-height: 38px;
        /* or 136% */

        letter-spacing: 0.04em;

        color: $blue_01;
      }

      p {
        font-family: Gilroy;
        font-size: 16px;
        line-height: 26px;
        /* or 162% */

        letter-spacing: 0.04em;

        color: $black;
        opacity: 0.6;
      }
      .postFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
          .author {
            font-family: Gilroy;
            font-size: 14px;
            line-height: 24px;
            /* identical to box height, or 171% */

            letter-spacing: 0.04em;

            color: $blue_01;
          }

          .date {
            font-family: Gilroy;
            font-size: 14px;
            line-height: 24px;
            /* identical to box height, or 171% */

            letter-spacing: 0.04em;

            color: $black;
            opacity: 0.4;
          }
        }

        .icons {
          color: $blue_03;

          * {
            padding: 0 18px;
          }
        }
      }
    }
  }

  .firstPost {
    @extend .post;
    display: flex;
    flex-flow: row-reverse;
    width: initial;
    justify-content: space-between;
    margin-bottom: 35px;

    .imgContainer {
      img {
        width: 100%;
      }
    }

    .postContent {
      width: 380px;

      h2 {
        margin-top: 0;
        font-size: 48px;
        line-height: 58px;
        /* or 121% */
      }

      p {
        padding-bottom: 30px;
      }
    }
  }

  .seeAll {
    font-family: Gilroy;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: $blue_03;
    opacity: 0.8;

    margin-bottom: 25px;
  }
}
