$background: #e5e5e5;
$blue_01: #1f3f68;
$blue_02: #316099;
$blue_03: #356ead;
$blue_04: #5a98d0;
$blue_05: #98c3e8;
$gray_06: #f2f2f2;
$white: #fff;
$black: #000;
$dark-blue-grad: linear-gradient(183.81deg, #42a5f5 -3.62%, #1565c0 88.96%);
$light-blue-grad: linear-gradient(183.81deg, #98d0fc -3.62%, #3481d7 88.96%);
$peach-grad: linear-gradient(238.37deg, #fff8e1 0.54%, #ffcc80 88.49%);
$light-gray-grad: linear-gradient(
  180.99deg,
  rgba(255, 255, 255, 0) 6.19%,
  rgba(0, 0, 0, 0.15) 102.42%
);
$white-light-blue-grad: linear-gradient(
  0deg,
  #98c3e8 8.84%,
  rgba(152, 195, 232, 0) 31.12%
);
$white-blue-grad: linear-gradient(
  180.99deg,
  rgba(255, 255, 255, 0) 6.19%,
  rgba(100, 181, 246, 0.6) 103.09%
);
$red-grad: linear-gradient(180deg, #eb5757 0%, #872727 100%);
$purple-grad: linear-gradient(180deg, #af6ced 0%, #5e199d 100%);

.shadow1 {
  // background: #c4c4c4;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
}

.shadow2 {
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shadow3 {
  background: #c4c4c4;
  box-shadow: 0px 0px 200px rgba(49, 96, 153, 0.4);
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/Gilroy-Regular.eot');
  src: url('./assets/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/Gilroy-Regular.woff') format('woff'),
    url('./assets/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin rem-fallback($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value * 16}px;

    @if $i < $max {
      $pxValues: #{$pxValues + ' '};
    }
  }

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value}rem;

    @if $i < $max {
      $remValues: #{$remValues + ' '};
    }
  }

  #{$property}: $pxValues;
  #{$property}: $remValues;
}

//TODO change to padding
.content {
  margin: 0 210px;
}
